<div class="clearfix" style="padding-bottom: 50px"></div>
<div class="row">
  <div class="span4">
    <h1>Messages</h1>
    <div>
      <%= button_tag "Set Notification", id: "notify_btn", class: "btn btn-primary" %>
    </div>
  </div>
  <div class="span8" id="messages">
    <div class="row" id="messages-inner">
      <%= render partial: "message", collection: @messages, as: :message %>
    </div>
    <%= render "form" %>
  </div>
</div>
<% content_for :js do %>
  <%= javascript_include_tag :messages, "data-turbolinks-track" => true %>
<% end %>
